<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <p id="logo">CV</p>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", "#" %></li>
          <% if 1 %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", "#" %></li>
                  <li><%= link_to "Settings", "#" %></li>
                  <li><%= link_to "Sign out", "#" %></li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to "Sign in", "#" %></li>
              <li class="divider"></li>
              <li><%= link_to "Register", "#" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>